@import "tailwindcss";

* {
  box-sizing: border-box;
}
/* Navbar-style-start */
.discount-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #eff4f7;
  overflow: hidden;
  /* padding:7px 0; */
  max-width: 1600px;
  margin: 0 auto;
}
.discount-inner-container {
  font-size: 11px;
  flex: 1;
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
  white-space: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.discount-inner-container span {
  letter-spacing: -0.5px;
  font-family: "metropolis-regular";
}
.discount-inner-container span a {
  text-decoration: underline;
}

/* Discount End */
.nav-container {
  position: sticky;
  top: 37px;
  display: flex;
  align-items: center;
  padding: 16px 12px;
  gap: 20px;
}
.nav-container nav {
  display: flex;
  align-items: center;
}
.brand-logo-container {
  position: relative;
  top: -1px;
}
.menu-btn {
  width: 18px;
  height: 14px;
  max-width: 18px;
}
.brand-logo {
  max-width: 60px;
  width: 151px;
}
.nav-icons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  grid-gap: 20px;
}
.search-icon-btn {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}
.search-icon {
  margin-left: 4px;
}
.navbar-cart-icon {
  display: flex;
  align-items: center;
}

.menu-large {
  display: none;
}

.nav-container-large {
  display: none;
  padding-inline: 40px;
  max-width: 1600px;
  width: 100%;
}
.large-header {
  padding: 21px 0;
  display: flex;
  align-items: center;
}
.nav-list-large {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "metropolis-regular";
  line-height: 1.5;
}
.large-nav-items {
  margin-right: 32px;
  flex-shrink: 0;
}
.large-nav-items a {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
}
.large-nav-item-dropdown {
  margin-right: 8px;
  display: inline-block;
}
.large-nav-items svg {
  transform: rotate(90deg);
}

.nav-second-link-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 0;
}
.items-container {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.input-container {
  overflow: hidden;
  border-radius: 2em;
}
.input-field-nav {
  margin-left: 12px;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.2em;
  border: none;
  color: black;
  width: 100%;
  padding: 11px 35px;
  min-width: 300px;
  border-radius: 2em;
  background: #f4f5f7;
  background-image: url("https://www.boat-lifestyle.com/cdn/shop/files/search_558f3ad8-0ef9-4a9b-8576-a396b44aacd8.png?v=1680091847");
  background-size: 18px !important;
  background-position-x: 12px !important ;
  background-position-y: center;
  background-repeat: no-repeat;
}

.input-field-nav:focus {
  outline: none;
}
.cart-icon {
  margin-top: -1px;
}
.nav-menu {
  position: fixed;
  top: 93px;
  max-width: 93vw;
  z-index: 999;
  width: 100%;
  right: auto;
  left: 0;
  transform: translate(0px);
  visibility: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  background: #fff;
  transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1),
    visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1);
  font-size: 14px;
}
.nav-menu-close{
  transform: translate(-100%);
  visibility: hidden;
}
.nav-menu-backdrop{
  visibility: visible;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 100%;
  right: auto;
  content: "";
  height: 100vh;
  width:100vw;
  background:#000;
  transition: visibility .6s ease-in-out ,opacity .6s ease-in-out;
}
.backdrop-close{
  opacity: 0;
  visibility: hidden;
}
.nav-menu-content{
  margin-top: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow:1;
}
.nav-menu-ul{
  padding-bottom: 140px;
  margin-top: 0px;
}
.nav-menu-ul-items{
  opacity: 1;
  width: 95%;
  margin: auto;
  border: solid 1.5px #eff3f5;
  border-radius: 10px;
  display: flow-root;
}
.nav-menu-header{
  border: 1.5px solid #eff3f5;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px;
  background: #f7f9fa;
  cursor: pointer;
  display: flex;
  align-items: center;
  width:100%;
  margin:0px;
  padding:12px 0px;
  font-size:16px;
  font-family: "metropolis-regular";
  font-weight: 600;
  color:#1a2024;
  justify-content: space-between;
  padding-inline: 15px;
  height: 56px;
  padding-left: 15px;
}
.nav-menu-header span{
  position: relative;
}
.nav-menu-header[aria-expanded="true"] span::before{
  content: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/minus.svg?v=1686829773");
  width: 35px;
  padding-right: 15px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-60%);
  font-weight: 400;
  color:#868c91;
}
.nav-menu-header[aria-expanded="false"] span::before{
  content: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/plus.svg?v=1686829773");
  width: 30px;
  padding-right: 15px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-60%);
  font-weight: 400;
  color:#868c91;
  font-size: 30px;
}


/* Navbar-style-end */

/* Category section */

.category-container {
  display: block;
  padding-inline: 16px;
  margin-inline: auto;
  width: 100%;
  max-width: 1600px;
}
.category-inner {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}
.catergory-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 13px 12px 6px 8px;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
}
.catergory-list::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.catergory-list::-webkit-scrollbar-thumb {
  background-color: #efebe0;
  border-radius: 8px;
}
.catergory-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.category-item-card {
  max-width: 75px;
  min-width: 75px;
  width: 100%;
}
.category-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  border-radius: 20px;
}
.category-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  max-width: 75px;
  max-height: 75px;
}
.title-container {
  margin-top: 10px;
  letter-spacing: -0.5px;

  text-align: center;
}

.title-container span {
  font-size: 10px;
  font-size: 600;
  line-height: 1;
  color: #1a2024;
  font-family: "metropolis-semibold";
  display: block;
}
/* Hero Start  */
.hero-container {
  margin-bottom: 25px;
  scroll-margin-top: 95px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.hero-corousel-container {
  padding-bottom: 0px;
  padding-right: 0px;
  padding-right: 0px;
  float: left;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  display: none;
  padding-left: 0px;
  position: relative;
  float: left;
  width: 375px;
}
.hero-image-container {
  background: linear-gradient(180deg, #ffffff 25%, #1e110c 103.7%);
  display: block;
  padding: 10px;
  overflow: hidden;
}
.image_ {
  border-radius: 16px;
}
.hero-active {
  display: block;
}
.carousel-dots-container {
  display: flex;
  height: fit-content;
  gap: 7px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 4px;
  background: #ffffff52 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.carousel-dots {
  visibility: hidden;
  width: 4px;
  height: 4px;
  position: relative;
  font-size: 0px;
}
.carousel-dots::after {
  background: #000;
  content: "";
  display: block;
  border-radius: 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  visibility: visible;
  align-items: center;
}
.carousel-dots-active {
  visibility: visible;
  border-radius: 12px;
  background: #000000b3;
  padding: 0.5px;
  width: 10px;
  height: 4px;
}
.carousel-btn {
  display: none;
  position: absolute;
  top: 47%;

  bottom: unset;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #1a2024;
  border: 0px;
  outline: none;
  width: 40px;
  height: 40px;
  visibility: visible;
  padding: 5px;
}
.left {
  left: 25px;
}
.right {
  right: 25px;
}
.carousel-right {
  rotate: 180deg;
}

/* Powered by Start */
.poweredby-container {
  margin: -25px 0px 0px 0px;
}

.poweredby-section {
  /* margin-top:0px !important; */
  margin-bottom: 0px !important;
  /* margin: 32px auto; */
  position: relative;
}
.poweredby-content {
  overflow: hidden;
}
.poweredby-content img {
  width: 100%;
  object-fit: contain;
  position: static;
  height: auto;
}

/* card Small */

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "metropolis-bold";
  max-width: 32%;
  min-width: 32%;
  border-radius: 10px;
  background-color: #e3e3e3;
}
.cardsm-image {
  position: relative;
}
.feat-text {
  position: absolute;
  max-width: 100%;
  left: 0px;
  border-radius: 0px 0px 10px 10px !important;
  padding: 0px 5px !important;
  font-size: 8px;
  width: 100% !important;
  border: 0px;
  height: 21px;
  line-height: 21px;
  letter-spacing: 0px;
  bottom: -12px;
  z-index: 1;
  background-color: #fcc50b !important;
  color: #000;
  transform: translate(0%);
  display: flex;
  align-items: center;
}
.cardsm-rating {
  width: max-content;
  position: absolute;
  bottom: -8px;
  right: 6px;
  z-index: 9;
  background: #fff;
  border-radius: 3px;
  height: 12px;
  display: flex;
  align-items: center;
  line-height: 12px;
}
.rating {
  display: inline-flex;
  align-items: center;
  padding-inline: 2px;
}
.rating-content {
  font-size: 7px !important;
  line-height: normal !important;
  align-items: center;
  display: grid;
  font-family: "metropolis-regular";
  column-gap: 2px !important;
  margin-left: 0 !important;
  grid-auto-flow: column;
}
.image-container {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.rating-content span img {
  display: inline-block;
  width: 8px !important;
  height: auto;
  max-width: 100%;
  border-right: none;
}
.card-top-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  border-radius: 10px 4px 4px 0px !important;
  padding: 2px 8px 3px 3px;
  font-size: 8px;
  max-width: max-content;
  z-index: 1;
  justify-content: flex-start;
  width: 96% !important;
  line-height: normal;
  background-color: #000;
  color: #fff;
  transform: translate(0px);
}
.card-image-content {
  position: relative;
  aspect-ratio: 1;
}
.product-item {
  border-radius: 10px 10px 0px 0px;
  /* position: absolute;
  top:0;
  left: 0; */
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.cardsm-text-container {
  padding: 4px !important;
  background-color: #fafafa;
  border: 1px solid #ecf0f4;
  border-radius: 0px 0px 10px 10px;

  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cardsm-text-inner {
  display: grid;
  justify-content: space-between;
  grid-template: "p_title p_title" "p_spliter p_spliter" "p_price p_variant";
  margin-top: 8px;
  align-items: flex-start;
  min-height: 1.8rem;
  line-height: normal !important;
  font-size: 13px;
  line-height: 1.6923076923;
}
.cardsm-heading {
  grid-area: p_title;
  min-height: 25px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: -0.56px;
  font-family: "metropolis-bold";
}
.dotted-line {
  grid-area: p_spliter;
  display: flex;
  width: 100% !important;
  max-width: 100%;
  height: 1px;
  border: 1px dashed #e3e3e3;
  margin: 4px 0px;
}
.cardsm-price {
  grid-area: p_price;
  padding-top: 4px;
  line-height: normal !important;
  font-family: "metropolis-semibold";
  font-size: 13px;
  width: 100%;
  color: #000;
  display: inline-flex;
  border-bottom: none;
  flex-direction: column;
  row-gap: 4px;
  flex-wrap: wrap;
  align-items: baseline;
}
.price-outer {
  font-size: 14px !important;
  margin-right: 4px;
  line-height: normal;
  letter-spacing: -0.64px;
  font-family: "metropolis-bold" !important;
}
.grid-price {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 18px;
}
.prev-price {
  font-size: 10px !important;
  height: 18px;
  color: #b2b9bf;
  letter-spacing: -0.48px;
  text-decoration: line-through;
  font-family: "metropolis-medium";
  line-height: 17px;
}
.off {
  font-size: 10px;
  display: block;
  width: max-content;
  color: #12b985;
  font-family: "metropolis-bold";
}
.color-variant {
  grid-area: p_variant;
  max-height: 20px;
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
}
.color-circle {
  background-color: #000;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #d0d9de;
}
.color {
  background-color: #a6a5a6;
}
.variant-extra {
  font-size: 10px;
  letter-spacing: -0.48px;
  color: #4e5358;
  font-family: "metropolis-regular";
}

/* Live Sale */

.live-sale-container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}
.heading-section {
  display: flex;
  width: 100%;
  justify-content: space-between !important;
  align-items: center;
}
.head-title {
  /*  Can reusable */
  color: #1a2024;
  font-size: 24px;
  text-align: left;
  margin-bottom: 12px;
  font-family: "metropolis-medium";
  line-height: 1.2;
}
.inner-head-title {
  position: relative;
  color: #1a2024;
  font-size: 24px;
  line-height: 28.8px;
  font-family: "metropolis-bold";
}
.inner-head-title::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #d83333;
  position: absolute;
  bottom: 1.2px;
  right: 0;
  font-family: "metropolis-medium";
}
.view-all-head-section {
  color: #2f5b96;
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "metropolis-bold";
}
.svg-arrow {
  margin-top: -1px;
}
.card-grid {
  display: flex !important;
  flex-wrap: wrap !important;
  column-gap: 5.6px;
  row-gap: 10px;
  margin: 0 -8px;
}

/* Policy section */

#large-screen {
  display: none;
}
.policy-container {
  background-color: #f6faff;
  color: #000;
  padding: 7px 0;
  margin-bottom: 25px;
}
.policy-inner-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 1.5;
  margin: auto;
  max-width: 100dvw;
  text-align: center;
  padding-bottom: 3.5px;
}

.policies {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  font-family: "metropolis-regular";
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.policy-icon {
  position: relative;
  width: 100%;
  padding: 0px 15px;
  text-align: center !important;
}
.policy-text {
  position: relative;
  width: 100%;
  padding: 0px 15px;
  font-size: 9px;
  font-family: "metropolis-regular";
  line-height: 12px;
}
.i-icon {
  width: 15px;
  height: 15px;
}

.warrenty {
  display: flex;
  align-items: center;
  /* margin-left: 5px ; */
  justify-content: center;
}

/* PrimeSeries */

.prime-series {
  display: flow-root !important;
  margin-bottom: 25px;
}
.prime-container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.prime-header {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}
.prime-poster {
  margin-bottom: 1em;
  position: relative;
  display: flex;
}
.prime-poster-image {
  border-radius: 10px;
}

/* Big Deal */

.big-deal-container {
  padding: 0px 16px;
  margin-bottom: 25px;
}
.big-heading {
  margin-bottom: 0px !important;
}
.deal-category-container {
  margin-top: 16px;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
}
.deal-scrollable-container {
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}
.deal-scroll-content {
  padding-left: 16px;
  padding-right: 16px;
  min-width: max-content;
  max-width: max-content;
  position: relative;
  line-height: 1;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-btn-active {
  border-radius: 17px !important;
  background-color: #ecf0f4;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: #1a2024;
  padding: 8px 16px;
  margin-right: 20px;
  font-family: "metropolis-medium";
  cursor: pointer;
}

.content-btn {
  background-color: #fff;
  font-size: 12px;
  font-family: "metropolis-regular";
  color: #1a2024;
  margin-right: 20px;
  line-height: 1.5;
  cursor: pointer;
  opacity: 0.7;

  display: inline-block;
}

/* Product Page Start */
.product-card-container {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #ecf0f4;
  background-color: #fafafa;
  padding: 4px;
}
.product-image-container {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  background: #f5f5f5;
  border-radius: 8px;
}
.product-feature {
  font-size: 10px;
  max-width: 100% !important;
  left: 0;
  border: 0;
  border-radius: 0 0 8px 8px !important;
  bottom: -1dvh;
  position: absolute;
  display: flex;
  width: 100%;
  line-height: normal;
  align-items: end;
  justify-content: center;
  top: unset;
  z-index: 1;
  padding: 6px 10px !important;
  letter-spacing: -0.48px;
  background: #fcc50b;
  font-family: "metropolis-bold";
}
.product-label {
  display: flex;
  align-items: center;
  background: black;
  color: #fff;
  letter-spacing: -0.4px;
  top: 10px;
  max-width: max-content;
  left: 0px;
  transform: translate(0);
  border-radius: 0px 5px 5px 0px !important;
  padding: 4px 8px 5px 3px !important;
  font-size: 10px;
  z-index: 1;
  position: absolute;
  justify-content: center;
  width: 100%;
  line-height: normal;
  font-family: "metropolis-bold";
}
.product-image {
  position: relative;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
}
.image-product {
  border-radius: 8px 8px 0px 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
}
.product-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  width: 100%;
  text-align: left;
  color: #000;
  max-width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}
.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25.2px;
  line-height: 1.6923076923;
  font-size: 13px;
}
.product-rating {
  display: inline-flex;
  vertical-align: bottom;
  line-height: 1.6923076923;
}
.rating-grid {
  display: grid;
  line-height: 1;
  letter-spacing: -0.48px;
  letter-spacing: -0.48px;
  font-size: 12px !important;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 2px;
  font-family: "metropolis-medium";
}
.product-star-image {
  width: 14px;
  display: inline-block;
  vertical-align: bottom;
}
.product-rating-caption {
  font-size: 12px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  line-height: normal;
  font-family: "metropolis-regular";
}
.product-rating-caption::before {
  content: "|";
  color: #b9b9b9;
  padding-right: 5px !important;
  font-size: 12px !important;
}
.product-heading {
  display: block;
  font-size: 14px;
  min-height: 38px;
  line-height: 1.38;
  font-family: "metropolis-medium";
  font-weight: 700;
  letter-spacing: -0.64px;
  color: #1a2024;
  line-height: 1.38;
}
.price-section-product {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100%;
  position: relative;
}
.price {
  margin-right: 4px;
  font-size: 16px;
  letter-spacing: -0.64px;
  /* font-weight: 700; */
  font-family: "metropolis-bold";
  line-height: normal;
}
.product-prev-price {
  margin-right: 4px;
  color: #b2b9bf;
  letter-spacing: -0.48px;
  font-size: 12px;
  line-height: 17px;
  text-decoration: line-through;
  font-family: "metropolis-regular";
}
.product-variant {
  position: absolute;
  right: 0px;
  bottom: 8.4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 5px !important;
  font-size: 15px important;
}
.product-variant-circle {
  background: #000;
  width: 14px;
  height: 14px;
  margin-left: -6px;
  border-radius: 50%;
  border: 1px solid #d0d9de;
}
.product-more-variant {
  font-size: 10px;
  font-family: "metroplis-regular";
  letter-spacing: -0, 48px;
  color: #4e5358;
}
.product-key-features {
  height: 21px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 4px !important;
  overflow: hidden;
}
.product-featured {
  display: inline-block;
  min-width: max-content;
  font-size: 8px;
  border-radius: 12px;
  padding: 5px 8px 4px;
  background-color: #eff4f7;
  line-height: 1.1;
  letter-spacing: -0.4px;
  color: #1a2024;
  border: 0px;
  font-family: "metropolis-regular";
}
.product-btn-container {
  display: flex;
  align-items: center !important;
}
.product-btn {
  padding: 6px 0;
  position: static;
  transform: none;
  width: 100%;
}
.add-to-cart-btn {
  background: #1a2024;
  border: 1px solid #1a2024;
  padding: 12px;
  border-radius: 10px !important;
  color: #fff;
  font-weight: 500;
  font-family: "metropolis-regular";
  font-size: 13px;
  width: 100%;
  line-height: normal;
}

/* Bread crumbs Start */

.bread-crumb-main {
  scroll-margin-top: 95px;
}
.bread-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.bread-content-container {
  padding: 16px 0px;
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 3.5px;
}
.bread-content-ol {
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0px;
  display: inline-flex;
  list-style: none;
}
.bread-list-item {
  font-size: 9px;
  text-decoration: none;
  font-family: "metropolis-regular";
  line-height: 1.5;
}
.bread-list::before {
  content: "";
  opacity: 0.7;
  background: url("https://www.boat-lifestyle.com/cdn/shop/files/arrow.png?v=1679570736");
  background-size: contain;
  height: 8px;
  width: 15px;
  background-repeat: no-repeat;
  float: left;
  background-position: center;
  margin: 5px 0px;
}

/* Product page Container */

.product-page-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.product-page-header {
  display: flex;
  align-items: center;
  font-size: 26px;
  justify-content: space-between;
  padding-top: 24px;
  font-family: "metropolis-bold";
  margin-bottom: 7px;
  letter-spacing: -0.9px;
  line-height: 1.11111111;
}
.product-page-heading {
  width: 80%;
  font-size: 20.8px;
}
.product-page-share {
  justify-content: flex-end;
  text-align: right;
  width: 20%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.product-orientation-btn {
  cursor: pointer;
  border-radius: 5px !important;
  font-size: 15px;
}
.products-display {
  margin-top: 10px;
  margin-bottom: 48px;
}

.quick-filter-container {
  display: flex;
  gap: 10px;
  align-items: end;
  overflow-x: auto;
  position: relative;
  scrollbar-width: none;
}
.filter-btn-container {
  order: -3;
  color: #1a202475;
  display: flex;
  align-items: baseline;
}

.filter-btn-container span {
  border-radius: 17px;
  color: #000;
  background: #ecf0f2;
  font-family: "metropolis-regular";
  font-weight: 600;
  padding: 8px 16px;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0.16px;
}
#filter-form {
  height: 100%;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.filter-btns {
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: baseline;
}

.filter-label {
  padding: 8px 16px;
  border-radius: 17px;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  color: #1a202475;
  white-space: nowrap;
  font-size: 14px;
  font-family: "metropolis-regular";
}
.products-cards-container {
  scroll-margin-top: 162.938px;
}
.product-something {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.products-card-list {
  position: relative;
  display: block;
  margin-top: 8px;
}
.product-card-grid {
  display: grid;
  column-gap: 9px;
  row-gap: 14px;
  grid-template-columns: 173.5px 173.5px;
  overflow: hidden;
  margin: 0px -8px;
}
