/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-container {
    padding: 16px 40px !important;
  }
  .brand-logo {
    max-width: 85px !important;
  }
  .menu-btn img {
    height: inherit;
    width: inherit;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .discount-inner-container span {
    font-size: 12px !important;
  }
  .nav-container {
    gap: unset !important;
    justify-content: space-between;
    padding: 21px 40px !important;
  }

  .nav-container nav {
    width: 100%;
  }
  .nav-icons-container {
    gap: 16px !important;
  }
  .brand-logo-container {
    top: 0 !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  
  .nav-container{
    display :none !important;
    
  }
}
