@media only screen and (min-width: 425px) {
  .carousel-item{
    width:425px !important;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-container {
    padding: 16px 40px !important;
  }
  .brand-logo {
    max-width: 85px !important;
  }
  .menu-btn img {
    height: inherit;
    width: inherit;
  }
  .category-container{
    display: none !important;
  }
  .card-grid{
    margin: unset !important;
    justify-content: space-between !important;
  }
  .live-sale-container{
    padding: 0px 40px !important;
  }
  .carousel-item{
    width: 768px !important;
  }
  .prime-container{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .big-deal-container{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .bread-container{
    padding: 0px 40px !important;
  }
  .bread-content-ol{
    margin-bottom: 0px !important;
  }
  .product-page-container{
    padding: 0px 40px !important;
  }
  .product-outer-container{
    margin-top: 37px;
  }
  .product-page-heading{
    font-size: 24px !important;
  }
  .product-share-btn{
    display: none !important;
  }
  .filter-btn-container span{
    font-size: 15px !important;
    letter-spacing: 1px;
  }
  .filter-label{
    font-size: 15px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .discount-inner-container span {
    font-size: 12px !important;
  }
  .nav-container {
    gap: unset !important;
    justify-content: space-between;
    padding: 21px 40px !important;
  }

  .nav-container nav {
    width: 100%;
  }
  .nav-icons-container {
    gap: 16px !important;
  }
  .brand-logo-container {
    top: 0 !important;
  }
  #large-screen{
    display: block !important;
  }
  #small-screen{
    display: none;
  }
  .card-container{
    max-width:16% !important ;
    min-width: 16% !important;
  }
  .cardsm-heading{
    font-size: 15px !important;
    margin-top: 19px !important;
  }
  .card-grid{
    justify-content: flex-start !important;
  }
  .carousel-item{
    width:1024px !important;
  }
  .hero-image-container{
    padding: 0px !important ;
  }
  .image_{
    border-radius: unset !important;
  }
  .carousel-btn{
    display: block !important;
  }
  .content-btn{
    font-size: 16px !important;
    margin-right:30px !important;
  }
  .content-btn-active{
    font-size: 16px !important;
    line-height: 0.88 !important;
    letter-spacing: -0.64px !important;
    padding: 9px 21px !important;
    margin-right: 30px !important;   
  }
.product-orientation-btn{
  display: none;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  
  .nav-container{
    display :none !important;
    
  }
  .nav-container-large{
    display: block !important;
  }

  .brand-logo{
  order: -1;
  flex: 0.3 1 0;
  display: block;
  position: relative; 
  margin: 0px 63px 0px 0px;

}
.brand-logo a{
  display: block;
  width: max-content;
 
}
.brand-logo a img{
  width: 151px;
  max-width: 85px;
}
.carousel-item{
  width:1440px !important;
 }
}
